.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(340px, 460px) calc(28px + (40 - 28) * ((100vw - 768px) / (1280 - 768))) minmax(352px, 484px);
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  -ms-grid-rows: auto 48.5px auto;
      grid-template-areas: 
  "title link"
  "image info";
  row-gap: 48.5px;
  -webkit-column-gap: calc(28px + (40 - 28) * ((100vw - 768px) / (1280 - 768)));
     -moz-column-gap: calc(28px + (40 - 28) * ((100vw - 768px) / (1280 - 768)));
          column-gap: calc(28px + (40 - 28) * ((100vw - 768px) / (1280 - 768)));
}