.card {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "title link"
    "image info";
  row-gap: 48px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card {
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    -ms-grid-columns: minmax(320px, 767px);
    grid-template-columns: minmax(320px, 767px);
    row-gap: 32px;
    -ms-grid-rows: auto 32px auto 32px auto 32px auto;
    grid-template-areas:
      "title"
      "link"
      "image"
      "info";
  }
}
